@import "Base/Fonts";

body
{
  margin: 0;
  padding: 0em;
  line-height: 2em;
  font-family: sans, sans-serif !important;
  font-size: 10pt;
  color: #686868;
}

h1,
h2,
h3
{
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #CFCFCF;
}

h2
{
  letter-spacing: -1px;
  font-size: 2.00em;
}

p,
ol,
ul
{
  margin-top: 1em;
}

p
{}

a
{
  text-decoration: underline;
  color: #909090;
}

a:hover
{
  text-decoration: none;
}

/* Image Style 1 */

.image-style1
{
  display: block;
  width: 100%;
}

/* Buttons Style 1 */


.button
{
  position: relative;
  display: inline-block;
  background: #ff7200;
  padding: 0.8em 2em;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  color: #FFF !important;
  -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  text-align: center;
}

.button:hover
{
  background: #c95609;
  color: #FFF !important;
}

.button-alt
{
  padding: 0.9em 2em;
  font-size: 1.5em;
}

/* List Style 1 */

ul.style1
{}

ul.style1 li
{
  padding: 0.75em 0 0.75em 0em;
}

ul.style1 a
{
  display: block;
  padding-left: 1.50em;
  text-decoration: none;
  color: #909090;
}

ul.style1 a:hover
{
  text-decoration: underline;
}

/* List Style 2 */

ul.style2
{
  overflow: hidden;
  margin: 0em;
  padding: 0em;
  list-style: none;
}

ul.style2 li
{
  clear: both;
  padding: 1em 0em 2em 0em;
  border-top: 1px solid #212124;
}

ul.style2 p
{
  line-height: 2.20em;
}

ul.style2 a
{
  text-decoration: none;
  color: #909090;
}

ul.style2 a:hover
{
  text-decoration: underline;
}


ul.style2 img
{
  float: left;
  margin-right: 1.5em;
  border-radius: 5px;
}

ul.style2 .first
{
  padding-top: 0;
  border-top: none;
}

/* List style 3 */

ul.style3
{
  margin: 0em;
  padding: 0em 0em 0em 0em;
  list-style: none;
}


ul.style3 li
{
  padding: 1.75em 0em 1.50em 0em;
  border-top: 1px solid #212124;
}

ul.style3 .heading-title
{
  font-size: 1.10em;
  font-weight: bold;
  color: #B8B8B8;
}

ul.style3 .date
{
  display: inline-block;
  margin: 0em 1em 1em 0em;
  text-transform: uppercase;
  font-size: .80em;
  background: #2B8FC4;
  border-radius: 5px;
  border: 1px solid #165272;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .4);
  color: #FFFFFF;
}

ul.style3 .date a
{
  display: inline-block;
  padding: .5em 1em;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.10em;
  font-weight: 400;
  color: #FFFFFF;
}

ul.style3 a
{
  text-decoration: none;
  color: #909090;
}

ul.style3 a:hover
{
  text-decoration: underline;
}

ul.style3 .first
{
  border-top: none;
}

/* List style 4 */

ul.style4
{
  overflow: hidden;
  margin: 0em;
  padding: 0em;
  list-style: none;
}

ul.style4 li
{
  padding: 0.50em 0em;
  border-top: 1px solid #212124;
}

ul.style4 a
{
  padding-left: 1em;
  text-decoration: none;
  color: #909090;
}

ul.style4 a:hover
{
  text-decoration: underline;
  color: #868686;
}

ul.style4 h3
{
  padding: 0 0 0.75em 0;
  font-size: 1.10em;
  font-weight: 700;
  color: #B8B8B8;
}


ul.style4 .first
{
  padding-top: 0;
  border-top: none;
}

ul.style5
{
  margin-left: 4em;
}

ul.style5 li
{
  line-height: 1.75em;
  list-style: decimal;
}

.pennant
{
  display: inline-block;
  margin-bottom: 0.50em;
  font-size: 3em;
  color: #FFF;
}

#header-wrapper
{
  background: url(../../images/banner.jpg) no-repeat center top;
  background-size: cover;
  position: relative;
}

#header-wrapper:before
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 50, 70, 0.5);
}

#header
{
  position: relative;
  z-index: 1;
}

header
{
  margin-bottom: 3em;
  position: relative;
}

header h2
{
  display: block;
  margin: 0 0 2rem;
  padding: 0;
}

header .byline
{
  display: block;
  margin: 1.50em 0em;
  line-height: 2em;
  font-weight: 200;
  color: rgba(255, 255, 255, .8);
}

/* Banner */

#banner
{
  overflow: hidden;
  padding: 10em 0em;
  text-align: center;
  z-index: 1;
  position: relative;
}

#banner header h2
{
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 3em;
  color: #FFF;
}

#banner header .byline
{
  padding: 0em 5em;
  font-size: 1.50em;
}

#banner .button
{
  margin-top: 1em;
}

/* Wrapper */

#wrapper
{
  padding: 5em 0em 3em 0em;
}

#page
{
  padding: 5em 0em 3em 0em;
}

/* Content */

#content
{}

#content a img
{
  display: block;
  width: 100%;
  margin-bottom: 1.50em;
  border-radius: 5px;
}

#content .main-title
{
  font-size: 3.00em;
}

#content .button
{
  margin-top: 2em;
}

/* Sidebar */

#sidebar
{}

#sidebar h2
{
  margin-bottom: 1em;
}

#sidebar #box1
{
  margin-bottom: 3em;
}

#sidebar #box2 .button
{
  margin-top: 0;
}

/* Two Column Area */

#two-column
{
  overflow: hidden;
  margin-top: 4em;
  padding: 4em 0em 0em 0em;
  border-top: 1px solid #212124;
}

/* Featured Area */

#featured-wrapper
{
  position: relative;
  padding: 6em 0em;
  background: #0c0e0f;
  text-align: center;
}

#featured-wrapper .button
{
  margin-top: 2em;
}

#featured-content
{}

#featured-content h2
{}

#featured-content img
{
  float: left;
  margin: 0.85em 2em 0em 0em;
}




/* Copyright */

#copyright
{
  overflow: hidden;
  padding: 3em 0em 6em 0em;
  border-top: 1px solid #212124;
  text-align: center;
}

#copyright p
{
  font-size: 1em;
}

#copyright a
{
  color: #949494;
}

#copyright a:hover
{
  text-decoration: none;
}

@import "Lib/Skel";
@import "Lib/StyleDesctop";